<div class="fixed-top">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Monierweb</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Accueil <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Mon profil</a></li>
      			<li><a href="#">Albums photos</a></li>
      			<li><a href="#">Changer mon mot de passe</a></li>
          </ul>
        </li>
        <li><a href="#">Liste des membres</a></li>
    		<li><a href="#">Galleries</a></li>
    		<li><a href="#">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li>
              <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                  Se déconnecter
              </a>
          </li>
        {% else %}
          <li>
            <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                Se connecter
            </a>
          </li>
          <li>
              <a class="nav-link" href="{{ path('fos_user_registration_register') }}">
                  S'inscrire
              </a>
          </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
